{{ if .Title }}
<figure>
    <img src="{{ .Destination | safeURL | absURL }}" alt="{{ .Text }}">
    <figcaption>{{ .Title }}</figcaption>
</figure>
{{ else }}
<img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
{{ end }}
