<header class="navbar navbar-expand-lg bd-navbar sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
        {{- if eq .Layout "docs" }}
        <div class="bd-navbar-toggle">
            <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar"
                    aria-controls="bdSidebar" aria-label="Toggle docs navigation">
                {{ partial "icons/hamburger.svg" (dict "class" "bi" "width" "24" "height" "24") }}
                <span class="d-none fs-6 pe-1">Browse</span>
            </button>
        </div>
        {{- else }}
        <div class="d-lg-none" style="width: 1.5rem;"></div>
        {{- end }}

        <div class="d-flex">
            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#three-dots"></use>
                </svg>
            </button>
        </div>

        <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar"
             aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
            <div class="offcanvas-header px-4 pb-0">
                <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">chchabin</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"
                        data-bs-target="#bdNavbar"></button>
            </div>

            <div class="offcanvas-body p-4 pt-0 p-lg-0">
                <hr class="d-lg-none text-white-50">
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link " href="{{ .Site.BaseURL }}">Accueil</a>
                    </li>
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }}"
                        aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/programmation-objet/introduction/approche-objet/" onclick="ga('send',
                        'event', 'Navbar', 'Community links', 'Docs');">Programmation Objet</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Langages
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/csharp/programmer/les-bases/" onclick="ga('send',
                                'event', 'Navbar', 'Community links', 'Docs');">Csharp</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/php/le-web/fonctionnement/" onclick="ga('send', 'event',
                                'Navbar', 'Community links', 'Docs');">PHP</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/javascript/programmer/introduction/"
                                onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Javascript</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/csharp/winform/les-bases/"
                                onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Winform</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                        aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/exercices-et-challenges/exercices/les-exercices/"
                        onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Exercices et défis</a>
                    </li>
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                        aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/tp-et-missions/missions/contexte/"
                        onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Missions</a>
                    </li>
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                        aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/apprentissage/cours-et-certifications/cours/"
                        onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Apprentissage</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Débuter
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/commencer/htmlcss/concevoir-une-page/"
                                onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">HTML CSS</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/commencer/github/installation/" onclick="ga('send',
                                'event', 'Navbar', 'Community links', 'Docs');">github</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/commencer/hugo/installation/" onclick="ga('send',
                                'event', 'Navbar', 'Community links', 'Docs');">HUGO</a>
                            </li>
                            <li>
                                <a class="dropdown-item py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                                aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/commencer/sqlexpress/installation/" onclick="ga('send',
                                'event', 'Navbar', 'Community links', 'Docs');">sqlExpress</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item col-6 col-lg-auto">
                        <a class="nav-link py-2 px-0 px-lg-2{{ if eq .Page.Layout " docs" }} active"
                        aria-current="true{{ end }}" href="{{ .Site.BaseURL }}docs/failles/failles-et-architecture-web/introduction/"
                        onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Sécurité</a>
                    </li>

                </ul>

                <hr class="d-lg-none text-white-50">

                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item dropdown">
                        <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                                id="bd-theme"
                                type="button"
                                aria-expanded="false"
                                data-bs-toggle="dropdown"
                                data-bs-display="static"
                                aria-label="Toggle theme (auto)">
                            <svg class="bi my-1 theme-icon-active">
                                <use href="#circle-half"></use>
                            </svg>
                            <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="light" aria-pressed="false">
                                    <svg class="bi me-2 opacity-50 theme-icon">
                                        <use href="#sun-fill"></use>
                                    </svg>
                                    Light
                                    <svg class="bi ms-auto d-none">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center"
                                        data-bs-theme-value="dark" aria-pressed="false">
                                    <svg class="bi me-2 opacity-50 theme-icon">
                                        <use href="#moon-stars-fill"></use>
                                    </svg>
                                    Dark
                                    <svg class="bi ms-auto d-none">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item d-flex align-items-center active"
                                        data-bs-theme-value="auto" aria-pressed="true">
                                    <svg class="bi me-2 opacity-50 theme-icon">
                                        <use href="#circle-half"></use>
                                    </svg>
                                    Auto
                                    <svg class="bi ms-auto d-none">
                                        <use href="#check2"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
