<!doctype html>
<html lang="fr" data-bs-theme="auto">
<head>
    {{ partial "header" . }}
</head>
{{ block "body_override" . }}<body>{{ end }}
    {{ partial "icons" . }}
    {{ partial "docs-navbar" . }}

    {{- block "main" . }}{{- end }}
{{ partial "mermaid" . }}
</body>
</html>

