<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    {{- .Inner | markdownify -}}
  </a>
  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
</div>