
{{- /*
Usage: `bt-collapse "id textBouton"`, where `type` is one of info (default), danger, or warning
*/ -}}

{{- $id := .Get 0 | default "id0" -}}
{{- $css_class := .Get 1 | default "success" -}}
{{- $btxt := .Get 2 | default "Afficher le code" -}}
<p>
    <button class="btn btn-{{ $css_class }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $id }}" aria-expanded="false" aria-controls="{{ $id }}">
        {{ $btxt }}
    </button>
</p>
<div class="collapse" id="{{ $id }}">
    <div class="card card-body">
        {{ .Inner | markdownify }}
    </div>
</div>
