
<div class="row align-items-start">
    {{ range split .Inner "<--->" }}
    {{ printf "<div class=\"col\">" | htmlUnescape | safeHTML }}
    {{ . | markdownify }}
    {{ printf "</div>" | htmlUnescape | safeHTML }}
    {{ end }}
</div>
