{{- $link := .Get 0 -}}
{{- $alt := .Get 1 | default "" -}}
{{- $width := .Get 2 | default 0 -}}
{{- $height := .Get 3 | default 0 -}}
{{- $title := .Get 4 | default "" -}}
{{- $abslink := $link | absURL -}}

<figure>
    <div class="card card-body">
    <img src="{{ $abslink }}" alt="{{ $alt }}"
         {{ if not ( eq $width 0) }} width="{{ $width }}" {{ end }}
         {{ if not ( eq $height 0) }} height="{{ $height }}" {{ end }}
    />
    </div>
    <figcaption>
        <h4>{{ $title }}</h4>
    </figcaption>
</figure>