
{{- $css_class := .Get 0 | default "warning" -}}
{{- $icon := .Get 1 | default "cone-striped" -}}
{{- $color := .Get 0 | default "black" -}}
<div class="bd-callout bd-callout-{{ $css_class }} bg-{{ $css_class }} white">
  <svg class="bi me-2 fs-2" style="color: var(--bs-{{ $color }});" aria-hidden="true"><use xlink:href="#{{ $icon }}"></use></svg>
  {{ .Inner | markdownify }}
</div>
