<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"
            defer></script>
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}icons/favicon.png">
    <title>Support de cours</title>
</head>
<body>
<div class="container-fluid">

    <h1 class="display-4">Support de cours informatique</h1>
    <hr class="my-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="accordion accordion-flush" id="titre">
                <!-- C#               -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_1">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#c0"
                                aria-expanded="false" aria-controls="c0">
                            C#
                        </button>
                    </h2>
                    <div id="c0" class="collapse accordion-collapse" aria-labelledby="_1" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="docs/csharp/prologue/introduction/"
                                target="_blank">Guide C#</a>
                                <a class="list-group-item list-group-item-action"
                                   href="docs/exercices-et-challenges/exercices/les-exercices/"
                                target="_blank">Exercices & défis</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://bpesquet.developpez.com/tutoriels/csharp/programmation-evenementielle-winforms/#LIII-G"
                                   target="_blank">WinForm et programmation événementielle</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  PHP              -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_30">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a2"
                                aria-expanded="false" aria-controls="a2">
                            PHP
                        </button>
                    </h2>
                    <div id="a2" class="collapse accordion-collapse" aria-labelledby="_30" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="docs/php/le-web/fonctionnement/"
                                target="_blank">Guide PHP</a>
                                <a class="list-group-item list-group-item-action"
                                   href="docs/exercices-et-challenges/exercices/les-exercices/"
                                target="_blank">Exercices & défis</a>
                                <a class="list-group-item list-group-item-action" href="docs/exercices-et-challenges/php-tp-introductif/affichage-déclaration-tableaux/"
                                   target="_blank">TP Découverte</a>
                                <a class="list-group-item list-group-item-action" href="docs/exercices-et-challenges/exercices-php/variables/"
                                   target="_blank">Exercices Découverte</a>
                                <a class="list-group-item list-group-item-action" href="http://phptester.net"
                                   target="_blank">phptesteur éditeur en ligne php</a>

                                <a class="list-group-item list-group-item-action" href="http://ideone.com"
                                   target="_blank">ideone éditeur en ligne php</a>
                                <a class="list-group-item list-group-item-action"
                                   href="http://sandbox.onlinephpfunctions.com" target="_blank">onlinephpfunctions
                                    éditeur en ligne php</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Base de données              -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_6">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a5"
                                aria-expanded="false" aria-controls="a5">
                            Base de données
                        </button>
                    </h2>
                    <div id="a5" class="collapse accordion-collapse" aria-labelledby="_6" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="http://sen.arbezcarme.free.fr/site/index.php?article19/cours-cisco"
                                   target="_blank">Cours-cisco</a>
                                <a class="list-group-item list-group-item-action" href="download/SQL_les_mots_cles.pdf"
                                   target="_blank">Rappel sql</a>
                                <a class="list-group-item list-group-item-action" href="download/ResumeMerise.pdf"
                                   target="_blank">Résumé Merise (MCD)</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://stph.scenari-community.org"
                                   target="_blank">Conception de base de données</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NODE js-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_js">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#js"
                                aria-expanded="false" aria-controls="js">
                            javascript - Node.js - Express
                        </button>
                    </h2>
                    <div id="js" class="collapse accordion-collapse" aria-labelledby="_js" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="docs/javascript/programmer/introduction/" target="_blank">
                                Guide JS</a>
                                <a class="list-group-item list-group-item-action"
                                   href="http://es6-features.org/#BlockScopedVariables" target="_blank">Javascript
                                    ES6</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://github.com/DrkSephy/es6-cheatsheet" target="_blank">es6-cheatsheet
                                </a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://babeljs.io/repl#?browsers=defaults%2C%20not%20ie%2011%2C%20not%20ie_mob%2011&build=&builtIns=false&corejs=3.6&spec=false&loose=false&code_lz=Q&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=false&sourceType=module&lineWrap=true&presets=env%2Creact%2Cstage-2&prettier=false&targets=&version=7.14.7&externalPlugins="
                                   target="_blank">
                                    Babel : Tester de version de javascript
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cours -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_7">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#c2"
                                aria-expanded="false" aria-controls="c2">
                            Cours et certifications
                        </button>
                    </h2>
                    <div id="c2" class="collapse accordion-collapse" aria-labelledby="_7" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="docs/apprentissage/cours-et-certifications/cours/" target="_blank">
                                    Cours et Certifications</a>
                                <a class="list-group-item list-group-item-action"
                                   href="docs/failles/failles-et-architecture-web/introduction/" target="_blank">
                                    Sécurité</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sauvegardes Github et Gitlab-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_git">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#g1"
                                aria-expanded="false" aria-controls="g1">
                            Github et Gitlab
                        </button>
                    </h2>
                    <div id="g1" class="collapse accordion-collapse" aria-labelledby="_git" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="download/SLAM2-02-1-cours GIT.pdf" target="_blank">
                                    Cours sur Git (David Roumanet)</a>
                                <a class="list-group-item list-group-item-action"
                                href="docs/github/les-bases/installation/" target="_blank">
                                Github perso et en projet</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.youtube.com/watch?v=q5E-scBPYFA&list=PLn6POgpklwWrRoZZXv0xf71mvT4E0QDOF"
                                   target="_blank">Vidéos sur Gitlab</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bureautique word + excel-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_word">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a6"
                                aria-expanded="false" aria-controls="a6">
                            Bureautique Word
                        </button>
                    </h2>
                    <div id="a6" class="collapse accordion-collapse" aria-labelledby="_word" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.typingclub.com/sportal" target="_blank">Tapez comme un Pro sur le
                                    clavier</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.typinglessons-online.com" target="_blank">Tapez comme un Pro sur
                                    le clavier (2)</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/Cours-Word-2013.pdf" target="_blank">Cours Word</a>
                                <a class="list-group-item list-group-item-action" href="download/ExercicesWord.pdf"
                                   target="_blank">Exercice Word</a>
                                <!--<a class="list-group-item list-group-item-action" href ="download/TP_PowerPoint.pdf" target="_blank">Exercices PowerPoint</a>-->
                                <a class="list-group-item list-group-item-action" href="download/interventionEtat.docx"
                                   target="_blank">Exercice : L’intervention de l’Etat
                                    dans l’économie du laisserfaire à la régulation</a>

                                <!-- <a class="list-group-item list-group-item-action"
                                    href="download/Albertuis%20SALundi%208%20septembre.docx"
                                    target="_blank">Exercice : albertuis</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_XL">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a7"
                                aria-expanded="false" aria-controls="a7">
                            Bureautique Excel
                        </button>
                    </h2>
                    <div id="a7" class="collapse accordion-collapse" aria-labelledby="_XL" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.typingclub.com/sportal" target="_blank">Tapez comme un Pro sur le
                                    clavier</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.typinglessons-online.com" target="_blank">Tapez comme un Pro sur
                                    le clavier (2)</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.excel-pratique.com/fr/cours.php" target="_blank">Cours sur les
                                    bases Excel</a>
                                <a class="list-group-item list-group-item-action" href="download/ExercicesExcel.pdf"
                                   target="_blank">Exercices excel</a>
                                <a class="list-group-item list-group-item-action" href="download/BddObjectifs.txt"
                                   target="_blank">Data Objectifs</a>
                                <a class="list-group-item list-group-item-action" href="download/Bdd.txt"
                                   target="_blank">Data salariés</a>
                 <!--               <a class="list-group-item list-group-item-action" href="download/BUROMOD.xlsx"
                                   target="_blank">BUROMOD</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/grilleGestionProjet.xlsx"
                                   target="_blank">Gestion de projet</a>-->
                                <!--                                <a class="list-group-item list-group-item-action" href="download/D01EnonceAP.xlsm"-->
                                <!--                                   target="_blank">Énoncé travail</a>-->
                                <!--                                <a class="list-group-item list-group-item-action" href ="download/Devoir01Excel.pdf" target="_blank">Énoncé</a>-->


                                <!--                                <a class="list-group-item list-group-item-action" href ="download/EXO%20LES%20PYRENEES%20texte%20brut.docx" target="_blank">Devoir pyreneesAP02</a>-->
                                <!--                                <a class="list-group-item list-group-item-action" href ="download/1819interroAP01.pdf" target="_blank">Énoncé AP01</a>-->
                                <!--                                <a class="list-group-item list-group-item-action" href ="download/1819interroPyreneesAP02.pdf" target="_blank">Énoncé pyreneesAP02</a>-->
                                <!--<a class="list-group-item list-group-item-action" href ="download/Salaires.csv" target="_blank">Data salaires</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="sysinfo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sys"
                                aria-expanded="false" aria-controls="sys">
                            Systèmes informatiques
                        </button>
                    </h2>

                    <div id="sys" class="collapse accordion-collapse" aria-labelledby="sysinfo" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="download/01_Ordinateurs%20v1.1.pdf"
                                   target="_blank">Les ordinateurs</a>
                                <a class="list-group-item list-group-item-action" href="download/08_Services%20Web.pdf"
                                   target="_blank">Le web</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/BPU-module1_-_CERT_OSIRIS_V2_3.pdf"
                                   target="_blank">Les risques</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/BPU-module2_-_CERT_OSIRIS_V2-0.pdf"
                                   target="_blank">La sécurité</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- HUGO -->
                <div class="accordion-item">
                <!-- Worpress -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_wordpress">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#aw"
                                aria-expanded="false" aria-controls="aw">
                            Bureautique WordPress
                        </button>
                    </h2>
                    <div id="aw" class="collapse accordion-collapse" aria-labelledby="_wordpress"
                         data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.youtube.com/watch?v=m0ayd1D_TXE" target="_blank">How to use the
                                    Wordpress Gutenberg Block Editor (full tutorial)</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.youtube.com/watch?v=YQ7Z7hnR-HA" target="_blank">Créer un menu dans
                                    Wordpress 5.9</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.youtube.com/watch?v=U7NkL8YKfUA" target="_blank">Exploring the
                                    Navigation Block for WordPress 5.9</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.youtube.com/watch?v=KsclYH5uOeY" target="_blank">Tutoriel WordPress
                                    débutant : On (re)découvre tout ensemble !</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://wpformation.com/differences-page-article-wordpress"
                                   target="_blank">La différence entre une page et un article</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!--  HTML CSS              -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a3"
                                aria-expanded="false" aria-controls="a3">
                            HTML5 CSS3
                        </button>
                    </h2>
                    <div id="a3" class="collapse accordion-collapse" aria-labelledby="_4" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="docs/htmlcss/les-bases/concevoir-une-page/"
                                target="_blank">Documentation & prototypes</a>
                                <a class="list-group-item list-group-item-action"
                                href="docs/htmlcss/les-bases/concevoir-une-page/" target="_blank">
                                Créer des pages Web</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- examples HTML               -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a4"
                                aria-expanded="false" aria-controls="a4">
                            examples HTML5 CSS3
                        </button>
                    </h2>
                    <div id="a4" class="collapse accordion-collapse" aria-labelledby="_5" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="http://toulibre.org/pub/2012-02-29-rencontre/presentation/exercices/index.php@nocrypt&solution.html"
                                   target="_blank">Exercices html5 css3</a>
                                <a class="list-group-item list-group-item-action"
                                   href="http://fr.myebox.com/demo/transition-css" target="_blank">Démonstration de
                                    transitions</a>
                                <a class="list-group-item list-group-item-action" href="example/bootstrap50.html"
                                   target="_blank">Bootstrap</a>
                                <a class="list-group-item list-group-item-action" href="example/zenCoding.html"
                                   target="_blank">Emmet</a>
                                <a class="list-group-item list-group-item-action" href="example/caroussel3dCss3.html"
                                   target="_blank">carousel3dCss</a>
                                <a class="list-group-item list-group-item-action" href="example/boutonAnim.html"
                                   target="_blank">Bouton Animé</a>
                                <a class="list-group-item list-group-item-action" href="example/bordure_pliee.html"
                                   target="_blank">Bordure pliée</a>
                                <a class="list-group-item list-group-item-action" href="example/etiquette.html"
                                   target="_blank">Etiquette sur une photo</a>
                                <a class="list-group-item list-group-item-action" href="example/html5_Anim0.htm"
                                   target="_blank">Animation css3</a>
                                <a class="list-group-item list-group-item-action" href="example/html5_Liste0.htm"
                                   target="_blank">Listes dynamiques en css3</a>
                                <a class="list-group-item list-group-item-action"
                                   href="example/html5_0FlexibleBoxModel.htm" target="_blank">Modifier les boites en
                                    css3</a>

                                <a class="list-group-item list-group-item-action" href="example/opacite.html"
                                   target="_blank">Opacité</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SI7-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a1"
                                aria-expanded="false" aria-controls="a1">
                            SI7 - Intégration et adaptation d’un service
                        </button>
                    </h2>
                    <div id="a1" class="collapse accordion-collapse" aria-labelledby="_3" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/Projet%20Exercice%202.pdf" target="_blank">Exercice Projet</a>

                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/Gestion%20de%20projet.pdf" target="_blank">Cours Projet</a>

                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/cours%20COUTS%20VARIABLES.pdf" target="_blank">Cours Couts
                                    fixes variables</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/cours%20CoutsVariablesFixes.pdf" target="_blank">Cours Couts
                                    fixes variables 02</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/SeuilDeRentabiliteEleves.pdf" target="_blank">Cas Couts fixes
                                    variables</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/coutsFixesVariablesExercices.pdf" target="_blank">Exercices
                                    Couts fixes variables</a>
                                <a class="list-group-item list-group-item-action" href="download/si7/Amortissements.pdf"
                                   target="_blank">Cas Amortissement</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/CoursConcis_GestionIncidents_en_general.pdf" target="_blank">Glpi
                                    gestion incident</a>
                                <a class="list-group-item list-group-item-action"
                                   href="download/si7/si7.prof_-_inventaire_et_gestion_des_configurations.pdf"
                                   target="_blank">Glpi gestion configuration</a>
                                <a class="list-group-item list-group-item-action" href="https://vimeo.com/113939763"
                                   target="_blank">Mes projets web se passent
                                    toujours bien !</a>
                                <a class="list-group-item list-group-item-action" href="https://trello.com"
                                   target="_blank">Travaillez en groupe avec trello</a>
                                <!--<a class="list-group-item list-group-item-action" href ="serverWeb/installVm.html" target="_blank">Installer la VM</a>-->
                                <!--<a class="list-group-item list-group-item-action" href ="serverWeb/D8nginx.html" target="_blank">Installer le serveur web</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Serveur web               -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="_61">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#a51"
                                aria-expanded="false" aria-controls="a51">
                            Serveur web
                        </button>
                    </h2>
                    <div id="a51" class="collapse accordion-collapse" aria-labelledby="_61" data-bs-parent="#titre">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush">
                                <a class="list-group-item list-group-item-action" href="https://laragon.org"
                                   target="_blank">Laragon portable et serveur pour installer sur un ordinateur
                                    personnel (version full)</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.youtube.com/watch?v=sHHl5kihXD4" target="_blank">Video sur
                                    l’utilisation de Laragon</a>
                                <a class="list-group-item list-group-item-action"
                                   href="https://www.tracker-software.com/product/pdf-xchange-editor/download?fileid=733"
                                   target="_blank">PDF-XChange Editor (choisir la version zip)</a>
                                <a href="https://www.youtube.com/watch?v=0RrvrMnq7OU&list=PLGBzNYNT_qduAEkaaEFCRwLqDatq9Pzi5">
                                    Vidéo sur la création d’un site en php, pattern MVC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
